@tailwind base;
@tailwind components;
@tailwind utilities;

/* your custom rules… */
html, body, .tower, .disc {
  overscroll-behavior: none;
  touch-action: manipulation;
}
* {
  -webkit-touch-callout: none;
  user-select: none;
}